<!DOCTYPE html>
<html>
    <head>
        <title>User Profile and Wall</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.5.0/jquery.timeago.js"></script>

        <script type="text/javasctipt">
            $(document).ready(function () {
                var formattedstring = $('.timeformatted').timeago();
                console.log(formattedstring);
                $('.timeformatted').html(formattedstring);
            });
        </script>
    </head>
    <body>

        <nav class="navbar navbar-default navbar-fixed-top" id="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <ul class="nav navbar-nav">
                    <li><a href="#">Wall App</a></li>
                    <li class="active"><a href="/">Dashboard</a></li>
                    <li><a href="/users/{{current_user['id']}}">My Profile</a></li>
                </ul>
            <!-- <a class="navbar-brand" href="/">Wall App</a> -->
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/users/logoff">Logoff</a></li>
                </ul>

            </div>
        </div>
        </nav>

        <div class="container" id="topmargin">
            <div class="row">
            <div class="col-md-12">
                <h4 class="text-center">{{userprofile['first_name']}} {{userprofile['last_name']}}</h4>
            </div>
            <div class="col-md-12">
                <p><strong>Email Address: </strong>{{userprofile['email']}}</p>
                {%if not userprofile['description'] %}
                    <p><strong>Description: </strong>Oops! {{userprofile['first_name']}} hasn't added a description yet!</p>
                {%else %}
                    <p><strong>Description: {{userprofile['description']}}</strong></p>
                {%endif %}
                <p><strong>Registered At: </strong>{{userprofile['created_at'].strftime("%B %d %Y, %I:%M %p")}}</p>

            </div>

            <!-- .strftime("%B %d %Y, %I:%M %p") -->

            


            <form action = "/message/{{userprofile['id']}}", method = 'POST'>
                <div class="form-group">
                    <label for="message">Leave a message for {{userprofile['first_name']}} {{userprofile['last_name']}}:</label>
                    <textarea name="message" id="message" class="form-control" rows ="4"></textarea>
                </div>


                <div class="row">
                    <div class="col-md-2 col-md-offset-10">
                        <button type="submit" class="btn btn-primary">Post a message</button>
                    </div>
                </div>
            </form>

            
            <div class="row" id="post">
                
                {%for msg in messages %}

                <div class="col-md-12">
                    <h4><a href="/users/{{msg['userid']}}">{{msg['first_name']}} {{msg['last_name']}}</a> wrote:
                    <span class="pull-right"> {{msg['created_at'].strftime("%B %d %Y, %I:%M %p")}}</span></h4>
                </div>

                <!-- .strftime("%B %d %Y, %I:%M %p") -->

                <div class="col-md-12">
                    

                    {%if msg['msgbyuser'] == current_user['id'] %}
                        <p class="text-justify" id="commentbox">{{msg['message']}}<span class="pull-right"><a href="/delete_message/{{userprofile['id']}}/{{msg['msgid']}}">Delete</a></span></p>
                    {%else%}
                    <p class="text-justify" id="commentbox">{{msg['message']}}</p>
                    {%endif%}
                    <br>
                </div>
                
           
                {%for comment_msg_usr in comments_messages_users %}
                {%if comment_msg_usr['comment_msgid'] == msg['msgid']%}

                <div class="col-md-12">
                <div id="commentsidemargin">
                    <h5><a href="/users/{{comment_msg_usr['comment_userid']}}">{{comment_msg_usr['first_name']}} {{comment_msg_usr['last_name']}}</a> wrote: <span class="pull-right">{{comment_msg_usr['created_at'].strftime("%B %d %Y, %I:%M %p")}}</span></h5>
                    
                    {%if comment_msg_usr['commentbyuserid'] == current_user['id'] %}
                        <p class="text-justify" id="commentbox">{{comment_msg_usr['comment']}}<span class="pull-right"><a href="/delete_comment/{{userprofile['id']}}/{{comment_msg_usr['commentid']}}">Delete</a></span></p>
                    {%else%}
                    <p class="text-justify" id="commentbox">{{comment_msg_usr['comment']}}</p>
                    {%endif%}
                </div>
                </div>
                {%endif%}
                {%endfor%}

                <!-- .strftime("%B %d %Y, %I:%M %p") -->



                <form action = "/comment/{{msg['msgid']}}/{{userprofile['id']}}", method = 'POST'>
                    <div class="col-md-12">
                    <div id="commentsidemargin">
                        <div class="form-group">
                            <label for="comment">Post a comment:</label>
                            <textarea name="comment" id="comment" class="form-control"></textarea>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-2 col-md-offset-10">
                        <button type="submit" class="btn btn-success">Post a comment</button>
                    </div>
                </form>


                {%endfor %}
            

            </div>

            
        </div>

    </body>
</html>