body {
    background-color: #dadeed;
}


#topmargin {
    margin-top: 80px;
}

.error {
    font-size: 10px;
    color: red;
    margin-bottom: 0px;
}

#navigation {
    background-color: #d2d7ec;
    border-color: #d2d7ec;
    color: black;
}

#navigation: active {
    background-color: #dadeed;
    border-color: #dadeed;
}
#commentsidemargin {
    margin-left: 50px;
}

#commentbox{
    border: 1px solid #c5cbe8;
    border-radius: 5px;
    padding: 8px;
}
